<div id="<%= dom_id casa_widget %>">
  <p>
    <strong>Name:</strong>
    <%= casa_widget.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= casa_widget.body %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= casa_widget.hidden %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= casa_widget.amount %>
  </p>

  <p>
    <strong>Tracking:</strong>
    <%= casa_widget.tracking_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= casa_widget.email %>
  </p>

</div>
